Package: box64
Priority: extra
Section: checkinstall
Installed-Size: 7508
Maintainer: root@pi4-arm64
Architecture: arm64
Version: 0.1.5+20210919.6f92db54-1
Provides: box64
Conflicts: qemu-user-static
Description: Box64 lets you run x86_64 Linux programs (such as games) on non-x86_64 Linux systems, like ARM (host system needs to be 64bit little-endian)
 Box64 lets you run x86_64 Linux programs (such as games) on non-x86_64 Linux systems, like ARM (host system needs to be 64bit little-endian)
